<h1>sign up</h1>



<form method="post" action="/users/create">
    Email:<input type="email" name="email" placeholder="ypur email" required>
    Password:<input type="password" name="password" placeholder="your password" required>
    confirm password:<input type="password" name="confirm_password" placeholder="confirm_password" required>
    Name:<input type="text" name="name" placeholder="your name" required>
    <input type="submit" value="sign Up">
</form>