<h1>sign in</h1>


<form action="/users/create-session" method="POST">
    Email:<input type="email" name="email" placeholder="ypur email" required>
    Password:<input type="password" name="password" placeholder="your password" required>
    <input type="submit" value="signIn">
</form>