
#layout-footer{
    color:black;
  
     f{
        position: fixed; 
        bottom:0;
         width: 100%;
     }
    a{
        color:black;
        text-decoration:none;
    }
    margin-top: 100%;
     background: gery;
     display:flex;
     justify-content: flex-start;
ul{
    list-style: none;
}
}