body{
    margin:0;
    text-align:center;


    #layout-main{
        height: 100%;
    }
}
h1{
    color:red;
}

.con{
    text-align: right;
}

ul{
    list-style: none;


li{
    display:inline;

    list-style: none;
a{
    color:black;
    padding: 16px;

    text-decoration: none;

}
}
}